.places {
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .places {
    max-width: 720px;
  }
}
@media (max-width: 320px) {
  .places {
    max-width: 320px;
  }
}
