.lead {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
  }
  @media (max-width: 1024px) {
    .lead {
      max-width: 928px;
      min-height: 100%;
      margin-top: 48px;
    }
  }
  
  @media (max-width: 768px) {
    .lead {
      max-width: 768px;
      min-height: 100%;
      margin-top: 48px;
      
    }
  }
  
  @media (max-width: 767px) {
    .lead {
      max-width: 320px;
      min-height: 100%;
      margin-top: 48px;
      
    }
  }
  