.cover__subtitle {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 245px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    margin-bottom: 195px;
  }
}
@media (max-width: 768px) {
  .cover__subtitle {
    margin-bottom: 115px;
  }
}
@media (max-width: 320px) {
  .cover__subtitle {
    margin-bottom: 33px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 94%;
    text-align: center;
  }
}
