.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 52px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
}

@media (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .header {
    max-width: 288px;
    min-height: 42px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
  }
}
