.footer__author {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

@media (max-width: 320px) {
  .footer__author {
    text-align: left;
    margin-bottom: 0;
  }
}
