.place__box-title {
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  @media(max-width:320px){
    .place__box-title{
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 32px;
    }
  }