.footer__link-heading {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
  }
  .footer__link-heading:hover {
    opacity: 0.8;
    transition: 0.5s;
  }

  @media(max-width:580px){
    .footer__link-heading{
      font-size: 24px;
      line-height: 24px;
    }
  }
 