.lead__image {
  max-width: 984px;
  margin: 0 auto;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    min-height: 100%;
  }
}

@media (max-width: 768px) {
  .lead__image {
    max-width: 768px;
    min-height: 100%;
  }
}

@media (max-width: 767px) {
  .lead__image {
    max-width: 320px;
    min-height: 100%;
    margin: 0;
  }
}
