.lead__caption {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 14px;
    font-style: normal;
    font-weight: normal;
    margin-left: 0;
    letter-spacing: 1.5px;
    margin-bottom: 0px;
    margin-top: 8px;
    color: white;
  }

  @media (max-width:768px){
    .lead__caption{
      margin-left: 24px;

    }
  }
  @media (max-width:320px){
    .lead__caption{
      margin-left: 16px;

    }
  }
