.lead__image-group {
    max-width: 937px;
    min-height: 262px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 90px;
    margin-bottom: 260px;
  }

  @media (max-width:1024px){
    .lead__image-group{
      max-width: 884px;
      min-height: 248px;
      margin-top: 85px;
      margin-bottom: 247px;
      margin-left: 22px;
      margin-right: 22px;

    }
  }

  @media (max-width:768px){
    .lead__image-group{
      max-width: 731px;
      min-height: 205px;
      margin-top: 70px;
      margin-bottom: 204px;
      margin-left: 18px;
      margin-right: 18px;

      
    }
  }


  @media (max-width:320px){
    .lead__image-group{
      max-width: 305px;
      min-height: 85px;
      margin-top: 30px;
      margin-bottom: 85px;
      margin-left: 13px;
      margin-right: 18px;

      
    }
  }