.cover__title {
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
  font-weight: normal;
  font-weight: 900;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 245px;
}

@media (max-width: 1024px) {
  .cover__title {
    margin-top: 195px;
  }
}
@media (max-width: 768px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media (max-width: 767px) {
  .cover__title {
    margin-left: auto;
    margin-right: auto;
    max-width: 288px;
    margin-top: 33px;
    font-size: 32px;
    line-height: 109%;
    word-break: break-word;
  }
}
