.place__paragraph {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 26px;
  }
  .place__paragraph:last-child {
    margin-bottom: 0;
  }

  @media(max-width:768px){
    .place__paragraph{
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 25px;
    }
  }
  @media(max-width:320px){
    .place__paragraph{
      font-size: 16px;
      line-height: 26px;
      
    }
  }