.place {
    box-sizing: border-box;
    max-width: 984px;
    margin: 0;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-auto-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
  }

  @media (max-width:1024px){
    .place{
      max-width: 928px;
      grid-template-columns: 440px 1fr;
      column-gap: 32px;
     
    }
  }
  @media (max-width:768px){
    .place{
      max-width: 720px;
      grid-template-columns: 340px 1fr;
      column-gap: 28px;
      margin-bottom: 73px;

      
    }
  }
  @media (max-width:320px){
    .place{
      max-width: 100%;
      grid-template-columns:  1fr;
      column-gap: 0px;
      row-gap: 0;
      margin-bottom: 50px;
     

    }
  }