.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  min-height: 18px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
  margin-top: 92px;
}
@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media (max-width: 768px) {
  .footer {
    max-width: 720px;

    margin-top: 88px;
  }
}
@media (max-width: 320px) {
  .footer {
    display: grid;
    max-width: 186px;
    margin-left: 16px;
    margin-right: 118px;
    margin-top: 64px;
  }
}
