.intro__title {
    font-size: 54px;
    line-height: 58px;
    line-height: 89%;
    color: #ffffff;
    margin: 0;
    margin-bottom: 40px;
  }
  
  

  @media (max-width:320px){
    .intro__title{
      font-size: 32px;
      line-height: 35px;
      line-height: 90%;
    }
  }
